html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#map {
  height: 100vh;
}

.lottie-player1 {
  z-Index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

.login {
  position: absolute;
  margin: auto;
  display: grid;
  grid-template-columns: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login button  {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

#over{
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box {
  display: grid;
  grid-template-columns: auto;
  background: white;
  border: 3px solid black;
  margin: 0;
}

.form {
  margin: auto;
  border: 3px solid green;

}

button, input {
  font-size: 25px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 25px;
  }