html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#map {
  height: 100vh;
}

.lottie-player1 {
  z-Index: 1000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  pointer-events: none;
}

.login {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30vh 20vh;
  height: 50vh;
  width: 50vw;
  background: #F7E4E0;
  grid-template-areas: 
  "header header"
  "main main";
  border: 3px solid black;
  margin: 0;
}

#over{
  background-color: transparent;
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 50vw;
  height: 50vh;
  transform: translate(-50%,-50%);
}

.box {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 30vh 20vh;
  height: 50vh;
  width: 50vw;
  background: #F7E4E0;
  grid-template-areas: 
  "header header"
  "main main";
  border-radius: 50px;
  border: 3px solid black;
  margin: 0;
}
